li{
  list-style: none;
}
.m_left{
  margin-left: 30px;
}
.text{
  margin-right: 14%;
}

@media(max-width: 848px){
  .text{
    margin-right: 9%;
  }
}
@media(max-width: 633px){
  .text img{
    display: none;
  }
}